#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center;  this causes some unusual text issues*/

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 100%; /*width should be set to the parent container*/
}

#editor {
  width: 70vw;
  height: 40vh;
  border-radius: 5px;
  padding: 1rem;
  /* margin: 1rem; */

}

#preview {
  width: 100%;/* set to parent container width. vw may allow overflow of the parent*/
}

#editiorComponent{
  padding-bottom: 5vh;
}

#previewComponent {
  width: 90%;
  /* display: flex;  let default of display:block work on smaller screens*/
}

.navbar, footer{
  width: 90vw;
  margin: auto;
}


@media (min-width:667px) {
  #previewComponent {
    /*Just assuming that you want the "Preview" heading next to the preview and not above on larger screens*/
    display: flex; /*flex should occur on larger breakpoint*/
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
   
  }
}