#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

#editor {
  width: 70vw;
  height: 40vh;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;

}

#preview {
  width: 70vw;
}

#editiorComponent{
  padding-bottom: 5vh;
}

#previewComponent {
  width: 70vw;
  display: inline-block;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.navbar, footer{
  width: 90vw;
  margin: auto;
}


